@*@using MyShopping.Models.Repositories*@
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .memberNav a {
            margin-right: 15px;
            text-decoration: none;
        }

            .memberNav a:hover {
                text-decoration: underline;
                font-size: 1.1em;
            }
    </style>
    @RenderSection("css", required: false)
</head>
<body>
    <!--導覽列 begin-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="/Home/Index"> <img src="~/images/LOGO.png"  width="50" height="50" class="d-inline-block align-top" alt=""></a>
            <a class="navbar-brand" href="/Home/Index">KLEIDUNG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @*<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">首頁</a>
                    </li>
                </ul>*@

                <div class="memberNav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Members/Index/" class="text-white">( @User.Identity.Name )</a>
                        <a href="/Members/Logout/" class="text-white">登出</a>
                        @*<a href="/ShoppingCart/index/" class="text-white" id="cartIcon">購物車( @( new CartRepository().GetCart().Items.Sum(x=>x.Qty) ) )</a>*@
                    }
                    else
                    {
                        <a href="/Members/Register" class="text-white">註冊會員</a>
                        <a href="/Members/Login/" class="text-white">登入</a>
                    }


                </div>
            </div>
        </div>
    </nav>
    <!--導覽列 end-->
    <div>
        <div class="m-3">

            @RenderBody()

            <div class="container body-content">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - KLEIDUNG</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="/js/globalFunctions.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

